body{
	font-family: arial;
}

nav{
	width: 1903px;
	height: 60px;
	background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b55eb3+0,3e21b2+35,00b2af+62,3d0066+100 */
background: rgb(181,94,179); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(181,94,179,1) 0%, rgba(62,33,178,1) 35%, rgba(0,178,175,1) 62%, rgba(61,0,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55eb3', endColorstr='#3d0066',GradientType=1 ); /* IE6-9 */;
}

.logo{
	color: black;
	font-size: 28px;
	line-height: 60px;
	padding-left: 350px;
	float: left;
}

.menu{
	float: left;
	padding-left: 490px;
}

.menu li{
	float: left;
	line-height: 60px;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/space.jpg) center/cover no-repeat;
	border-bottom: width 1px;
	box-shadow: 0px 7px 5px #000;
}

.title__container{
	float: left;
	margin: 350px 0px 0px 360px;
	color: white;
	text-align: center;
}

.title__container h1{
	font-size: 50px;
}

.title__container  h4{
	margin-top: 20px;
	font-size: 23px;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #7FFFD4;
	background: none;
	border-radius: 5px;
	color: white;
	font-size: 13px;
	padding: 0px 15px;
	margin: 20px 15px;
}

.about_me{
	text-align: center;
}

.about_me h2{
	margin-bottom: 80px;
	text-decoration: underline #40E0D0;	 
	margin-top: 175px;
	font-size: 30px;	
}

.about_me img{
	border: 3px solid #40E0D0;
	margin-top: 80px;
	height: 175px;
	width: 180px;
	border-radius: 100px;
	margin-bottom: 80px;
}

.about_me h4{
	line-height: 30px;
	margin-top: 15px;
	font-size: 20px;
	margin-bottom: 200px;
}

.item_skills{
	background: url(../img/about-me-bg.jpg) center/cover; 
	padding-left: 500px;
	height: 400px;

}

.item_skills li{
	margin: 20px 57px 0px 45px;
	float: left;
	text-align: center;
}

.item_skills h2{
	padding-top: 40px;
	text-decoration: underline #40E0D0;
	font-size: 35px;
	text-align: left;
	margin-left: 355px;
	margin-top: 15px;
}

.item_skills img{
	margin-bottom: 30px;
	margin-top: 100px;
	margin-left: 7px;
	width: 50px;
	height: 50px;

}

.item_skills h4{
	font-size: 20px;
}

.item_skills p{
	margin-top: 10px;
	font-size: 15px;
}

.cost_calculation{
	margin-top: 200px;
	padding-left: 10px;
}

.cost_calculation h2{
	padding-bottom: 40px;
	text-decoration: underline #40E0D0;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.cost_calculation h4{
	font-size: 19px;
	text-align: left;
	margin-left: 700px;
	height: 40px;

}

.cost_calculation select{
	border: 2px solid #40E0D0;
	border-radius: 10px;
	text-align: left;
	margin-left: 700px;
	margin-bottom: 20px;
	font-size: 17px;
	height: 50px;
	width: 500px;
}

.achivements{
	background: url(../img/s3.jpg);
	margin-top: 200px;
	padding-left: 500px;
	height: 400px;
}

.achivements h1{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 30px;
	padding-left: 370px;
	text-decoration: underline #40E0D0;
}

.achivements li{
	float: left;
	margin-top: 30px;
	margin-right: 195px;
}

.achivements h4{
	font-size: 25px;
	padding-left: 80px;
	padding-top: 20px;
}

.achivements img{
	height: 50px;
	width: 60px;
	margin-left: 56px;

}
.achivements p{
	font-size: 18px;
	padding-top: 30px;
}

.feedback{
	margin-bottom: 300px;
	margin-top: 200px;
	padding-left: 30px;
	text-align: center;
}


.feedback h2{
	font-size: 30px;
	text-decoration: underline #40E0D0;
}

.feedback h4{
	font-size: 20px;
	padding-top: 30px;
	margin-bottom: 30px;
}

.sourse{
	height: 140px;
	background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b55eb3+0,3e21b2+35,00b2af+62,3d0066+100 */
background: rgb(181,94,179); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(181,94,179,1) 0%, rgba(62,33,178,1) 35%, rgba(0,178,175,1) 62%, rgba(61,0,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55eb3', endColorstr='#3d0066',GradientType=1 ); /* IE6-9 */;
	padding-left: 35px;
	text-align: center;
}

.sourse h2{
	color: white;
	font-size: 25px;
	padding-top: 15px;
	text-decoration: underline #40E0D0;
}

.sourse li{
	color: white;
	float: left;
	padding-top: 30px;
	margin-left: 357px;
}

.sourse h4{
	color: white;
	font-size: 18px;
}

.sourse p{
	font-size: 15px;
	padding-top: 10px;
	color: #40E0D0;
}

.sourse a{
	color: #40E0D0;
}

