body{
	font-family: arial;
}

nav{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 1000;
	background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b55eb3+0,3e21b2+35,00b2af+62,3d0066+100 */
background: rgb(181,94,179); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(181,94,179,1) 0%, rgba(62,33,178,1) 35%, rgba(0,178,175,1) 62%, rgba(61,0,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55eb3', endColorstr='#3d0066',GradientType=1 ); /* IE6-9 */;
}

nav a{
	text-decoration: none;
}

nav a:hover{
	color: white;
}

.active{
	font-size: 30px;
}

.logo{
	color: black;
	font-size: 26px;
	line-height: 60px;
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}

@keyframes comming{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}



.menu{
	float: left;
}

.menu li{
	float: left;
	line-height: 60px;
	margin-right: 35px;
	font-size: 15px;
	text-transform: uppercase;
	opacity: 0;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift 0.4s ease forwards;
}

@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;

	}

	to{
		opacity: 1;
		margin-top: 0px;

	}
}


.menu li:nth-child(2){
	animation-delay: 0.4s;
}

.menu li:nth-child(3){
	animation-delay: 0.8s;
}

.menu li:nth-child(4){
	animation-delay: 1.2s;
}

.menu li:nth-child(5){
	animation-delay: 1.6s;
}

.menu li:nth-child(6){
	animation-delay: 2s;
}


.menu li{
	transition: all 0.1s;
	color: black;
	display: inline-block;
}

.menu li:active{

}

.menu li:visited{
	color: black;
}

.menu li:hover{
	color: white;
	transform: scale(1.2);
}

main{
	width: 100%;
	height: 100%;
	background: url(../img/space.jpg) center/cover no-repeat;
	border-bottom: width 1px;
	box-shadow: 0px 7px 5px #000;
}

.title__container{
	width: 100%;
	float: left;
	color: white;
	text-align: center;
	-webkit-animation: titlemove 1s ease;
	-o-animation: titlemove 1s ease;
	animation: titlemove 1s ease;
	-webkit-animation-delay: titlemove 2s ease forwards;
	-o-animation-delay: titlemove 2s ease forwards;
	animation-delay: titlemove 2s ease forwards;

}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -600px;

	}

	to{
		opacity: 1;
		margin-left: 0px;

	}
}

.title__container h1{
	font-family: Arial, sans-serif;
	font-size: 50px;
	font-weight: 600;
}

.title__container  h4{
	margin-top: 20px;
	font-size: 23px;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #7FFFD4;
	background: none;
	border-radius: 5px;
	color: white;
	font-size: 13px;
	padding: 0px 15px;
	margin: 20px 15px;
}

.title__container input{
	transition: all 0.2s;
}

.title__container input:hover{
	background-color: #40E0D0;
}

.title__container input:active{
	transform: scale(1.2);
}

.about_me{
	text-align: center;
}

.about_me h2{
	margin-bottom: 80px;
	text-decoration: underline #40E0D0;	 
	margin-top: 175px;
	font-size: 30px;	
}

.about_me img{
	border: 3px solid #40E0D0;
	margin-top: 80px;
	height: 175px;
	width: 180px;
	border-radius: 100px;
	margin-bottom: 80px;
}

.about_me h4{
	line-height: 30px;
	margin-top: 15px;
	font-size: 20px;
	margin-bottom: 200px;
}

.item_skills{
	background: url(../img/about-me-bg.jpg) center/cover; 

}

.item_skills li{
	padding-right: 50px;
	padding-top: 50px;
	float: left;
	text-align: center;
}

.item_skills h2{
	padding-top: 40px;
	text-decoration: underline #40E0D0;
	font-size: 35px;
	text-align: left;
	margin-top: 15px;
}

.item_skills img{
	margin-bottom: 30px;
	margin-top: 100px;	
	width: 50px;
	height: 50px;
	margin: 0 auto;

}

.item_skills h4{
	font-size: 19px;
	margin-top: 10px;
}

.item_skills p{
	margin-top: 10px;
	font-size: 15px;
}

.cost_calculation{
	margin-top: 200px;
	
}

.cost_calculation h2{
	padding-bottom: 40px;
	text-decoration: underline #40E0D0;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.cost_calculation h4{
	font-size: 19px;

	height: 40px;

}

.cost_calculation select{
	border: 2px solid #40E0D0;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 17px;
	height: 50px;
	width: 82%;
}

.cost_calculation select{
	transition: all 0.1s;
}

.cost_calculation select:hover{
	transform: scale(1.05);
}

.cost_calculation select:active{
	background-color: #40E0D0;
}

.cost_calculation option:hover{
	background-color: #40E0D0;
}

.achivements{
	background: url(../img/s3.jpg);
	margin-top: 200px;
	
}

/* PARALLAX */


/*PARALLAX*/

.achivements h1{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 30px;
	
	text-decoration: underline #40E0D0;
}

.achivements li{
	text-align: center;
	padding-right: 50px;
	float: left;
	margin-top: 30px;
	
}

.achivements h4{
	font-size: 20px;
	padding-top: 20px;
}

.achivements img{
	height: 50px;
	width: 60px;
	transition: all 1s;
	animation: heartBeat;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.achivements p{
	font-size: 19px;
	padding-top: 30px;
}

.carousel-inner{
	text-align: center;
	margin-top: 200px;
}

.carousel-inner h2{
	font-size: 30px;
	text-decoration: underline #40E0D0;
}

.carousel-item h4{
	font-size: 22px;
	padding-top: 30px;
	margin-bottom: 30px;
}

.carousel-item img{
	border: 3px solid #40E0D0;
	margin-top: 80px;
	height: 100px;
	width: 100px;
	border-radius: 100px;
}

.carousel-item p{
	font-size: 18px;
	margin-bottom: 200px;
}


.sourse{
	background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b55eb3+0,3e21b2+35,00b2af+62,3d0066+100 */
background: rgb(181,94,179); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(181,94,179,1) 0%, rgba(62,33,178,1) 35%, rgba(0,178,175,1) 62%, rgba(61,0,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(181,94,179,1) 0%,rgba(62,33,178,1) 35%,rgba(0,178,175,1) 62%,rgba(61,0,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b55eb3', endColorstr='#3d0066',GradientType=1 ); /* IE6-9 */;
	padding-left: 35px;
	text-align: center;
	width: 100%;
}

.sourse h2{
	color: white;
	font-size: 25px;
	padding-top: 15px;
	text-decoration: underline #40E0D0;
}

.sourse li{
	color: white;
	text-align: center;	
	padding-right: 50px;
	padding-left: 50px;
	float: left;
	padding-top: 50px;
	
}

.sourse h4{
	color: white;
	font-size: 18px;
}

.sourse p{
	font-size: 15px;
	padding-top: 10px;
	color: #40E0D0;
	transition: all 0.5s;
}

.sourse p:hover{
	transform: scale(1.2);
}

.sourse a{
	color: #40E0D0;
}

.sourse h1{
	color: white;
	font-size: 25px;
	text-decoration: underline #40E0D0;
	text-align: center;
	padding-top: 170px;
}

.write{
	font-size: 20px;
	margin-top: 30px;
	height: 200px;
	width: 70%;	
	text-align: start;
	border: 2px solid #40E0D0;
	border-radius: 15px;

	
}

.sourse input{
	transition: all 0.5s;
}

.sourse: hover{
	
}

.send{
	margin-top: 120px;
	font-size: 20px;
	height: 30px;
	width: 120px;
	text-align: center;
	border: 2px solid #40E0D0;
	border-radius: 15px;
	margin-left: 30px;
	transition: all 0.5s;
}

.send:hover{
	transform: scale(1.1);
	background-color: #40E0D0;
}

.send:active{
	transform: scale(0.9);	
}


/* ПРЕЛОДЕР */


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #40E0D0 ;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;

  /* ПРЕЛОДЕР */

	



